body {
    background-color: var(--background);
}

header {
    // Make the header draggable on Mac
    -webkit-app-region: drag;
}

#content {
    #logo {
        display: flex;
        flex-direction: row;

        p {
            margin: 1rem auto 0 auto;
            font-size: 3rem;
            font-weight: 100;

            i {
                margin: 0 0.5rem;
            }
        }
    }

    #description {
        max-width: 325px;
        margin: 0.5rem auto;
        text-align: center;
    }

    .input-box {
        background-color: white;
        margin: 0.5rem auto;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        width: 325px;

        font-size: 0.75rem;
        color: var(--blend-text);

        display: flex;
        flex-direction: column;

        &:hover {
            background-color: var(--hover-background);
        }

        &:has(input:focus) {
            background-color: var(--hover-background);
        }

        &:has(input:disabled) {
            background-color: var(--disabled-background);
            color: var(--disabled-text);
            cursor: not-allowed;
        }

        input {
            border: 0;
            margin: 0.25rem 0;
            background-color: inherit;

            &:focus {
                outline: none;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }

        .input-box-row {
            display: flex;
            flex-direction: row;

            input {
                flex: 1;
            }

            .eye-icon {
                color: var(--primary);
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .checkbox {
        margin: 1rem auto 0 auto;
        width: 350px;
        font-size: 14px;

        input {
            vertical-align: -2px;
            margin: 0;
        }
    }

    button {
        background-color: white;
        width: 350px;
        margin: 0.25rem auto;
        padding: 0.5rem 0.75rem;
        color: var(--primary);
        border: 0;
        border-radius: 0.25rem;
        border: 1px solid var(--button-border);
        font-size: 14px;
        font-weight: 800;
        cursor: pointer;

        &:hover {
            background-color: var(--hover-background);
            border-color: var(--disabled-text);
        }

        &:disabled {
            background-color: var(--disabled-background);
            color: var(--disabled-text);
            cursor: not-allowed;
        }
    }

    #create-account {
        margin: 0.25rem auto;

        display: flex;
        flex-direction: column;
        font-size: 14px;

        p {
            margin: 0 auto;
        }

        a {
            margin: 0 auto;
            text-decoration: none;
            color: var(--primary);
        }
    }
}

footer {
    p {
        margin: auto;
        color: var(--blend-text);
    }
}
