body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#top-bar {
    background-color: var(--blue);
    border-bottom: 1px solid var(--dark-blue);
    flex-shrink: 0;
}

i {
    position: absolute;
    padding: .5em;
    margin: .5rem;
    color: var(--placeholder);
}

i.fa-xmark {
    color: #fff;
    right: 0rem;
    cursor: pointer;
}

#search {
    background-color: var(--dark-blue);
    margin: 0.5rem;
    padding: 0.25rem 2rem;
    font-size: 1.25rem;
    width: calc(100% - 5rem);
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
}

#search::placeholder {
    color: var(--placeholder);
}

#search:focus {
    outline: none;
}

#results {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;

    display: flex;
    flex-direction: column;
}

.result {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.result > img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .25rem;
    margin: auto .5rem auto 0;
}

.info {
    display: flex;
    flex-direction: column;
}

.username {
    color: #777;
    font-size: 14px;
}

footer {
    flex-shrink: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
}

.interaction {
    flex-grow: 1;
    margin: .5rem .25rem;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    vertical-align: center;
}

.key {
    border: 1px solid #ddd;
    padding: .15rem .3rem;
    margin-right: .1rem;
    border-radius: .25rem;
    background-color: #fff;
}

.interaction > p {
    margin: auto auto auto .25rem;
}
