:root {
    --blue: #165ddc;
    --dark-blue: #134db7;
    --placeholder: #afc8f7;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'OpenSans';
}

.hidden {
    display: none;
}
